@(currentPage: com.avaje.ebean.PagedList[Computer], currentSortBy: String, currentOrder: String, currentFilter: String)
@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newSortBy: String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.HomeController.list(newPage, sortBy, order, currentFilter)

}

    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key: String, title: String) = {
    <th class="@key.replace(".", "_") header @if(currentSortBy == key) @{
        if(currentOrder == "asc") "headerSortDown" else "headerSortUp"
    }">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {

    <div id="list-page">
        @modals.viewFile()

        <h1 id="homeTitle">@Messages("computers.list.title", currentPage.getTotalRowCount)</h1>

        @if(flash.containsKey("success")) {
            <div class="alert-message warning">
                <strong>Done!</strong> @flash.get("success")
            </div>
        }

        <div id="actions">

            <form action="@link(0, "name")" method="GET">
                <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by computer name...">
                <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
            </form>



        </div>


        @if(currentPage.getTotalRowCount == 0) {

            <div class="well">
                <em>Nothing to display</em>
            </div>

        } else {






        <form method="POST" action="/ComputersCustomActions">


        <!-- Actions With Params -->
        <div class="centerButtons">

        <figure>
         <button class="myBtn" href="@routes.HomeController.create()" type="submit" name="action" value="Add New"
                    style="background: url('@routes.Assets.at("images/toolbars/add.png")') ;">
         </button>
         <figcaption>Add
                 <br>Computer
         </figcaption>
        </figure>


        <figure>
            <img onclick="JS_DELETE()"
                 src="@routes.Assets.at("images/toolbars/delete.png")" style="cursor: hand; cursor: pointer;" />
         <figcaption>Delete
                 <br>Computers
         </figcaption>
        </figure>


        <figure>
            <img onclick="JS_PUT()"
                 src="@routes.Assets.at("images/toolbars/edit.png")" style="cursor: hand; cursor: pointer;" />
         <figcaption>Edit
                 <br>From JS
         </figcaption>
        </figure>


        <figure>
         <button class="myBtn" type="submit" name="action" value="New Edit"
                    style="background: url('@routes.Assets.at("images/toolbars/editm.png")') ;">
         </button>
         <figcaption>Edit
                 <br>From Action
         </figcaption>
        </figure>


        <figure>
         <button id="pdf-report-button" type="button" class="myBtn" name="action" value="PDF Report" style="background: url('@routes.Assets.at("images/toolbars/pdf.png")');"></button>
         <figcaption>Pdf
                 <br>Report
         </figcaption>
        </figure>


        <figure>
         <button class="myBtn" type="submit" name="action" value="XLS Report" formtarget="_blank"
                    style="background: url('@routes.Assets.at("images/toolbars/excel.png")') ;">
         </button>
         <figcaption>Xls
                 <br>Report
         </figcaption>
        </figure>


        <figure>
         <button class="myBtn" type="submit" name="action" value="HTML Report" formtarget="_blank"
                    style="background: url('@routes.Assets.at("images/toolbars/html.png")') ;">
         </button>
         <figcaption>Html
                 <br>Report
         </figcaption>
        </figure>






        <!-- Actions Without Params -->

        <figure>
         <button class="myBtn" type="submit" name="action" value="Open IMG File" formtarget="_blank"
                    style="background: url('@routes.Assets.at("images/toolbars/image.png")') ;">
         </button>
         <figcaption>Open
                 <br>Image
         </figcaption>
        </figure>


        <figure>
         <button class="myBtn" type="submit" name="action" value="Send Simple Mail" formtarget="_blank"
                    style="background: url('@routes.Assets.at("images/toolbars/sends.png")') ;">
         </button>
         <figcaption>Simple
                 <br>eMail
         </figcaption>
        </figure>


        <figure>
         <button class="myBtn" type="submit" name="action" value="Send Complex Mail" formtarget="_blank"
                    style="background: url('@routes.Assets.at("images/toolbars/sendc.png")') ;">
         </button>
         <figcaption>Complex
                 <br>eMail
         </figcaption>
        </figure>

        </div>

        <br><br>






                <table class="computers zebra-striped">
                    <thead>



                        <tr>
                            <div class="items"></div><br><br>
                            <th>
                            <input type="checkbox" id="selectall"/>
                            @header("id", "Computer code")
                            @header("name", "Computer name")
                            @header("introduced", "Introduced")
                            @header("discontinued", "Discontinued")
                            @header("company.name", "Company")
                            @header("", "")
                            @header("", "")
                            @header("", "")
                            </th>

                        </tr>

                    </thead>
                    <tbody>

                    @for(computer <- currentPage.getList) {

                        <tr>


                            <td>
                            <input type="checkbox" class="case computer-code" name="computercode" value="@computer.id"/>
                            </td>

                            <td>@computer.id</td>
                            <td><a href="@routes.HomeController.edit(computer.id)">@computer.name</a></td>

                            <td>
                            @if(computer.introduced == null) {
                                <em>-</em>
                            } else {
                                @computer.introduced.format("dd MMM yyyy")
                            }
                            </td>

                            <td>
                            @if(computer.discontinued == null) {
                                <em>-</em>
                            } else {
                                @computer.discontinued.format("dd MMM yyyy")
                            }
                            </td>

                            <td>
                            @if(computer.company == null) {
                                <em>-</em>
                            } else {
                                @computer.company.name
                            }
                            </td>


                            <td>
                            <a href="@routes.HomeController.show(computer.id)">
                            <img title="Show Computer : @computer.id"  src="@routes.Assets.at("images/pagelist/show.png")"/>
                            </a>
                            </td>

                            <td>
                            <a href="@routes.HomeController.edit(computer.id)">
                            <img title="Edit Computer : @computer.id"  src="@routes.Assets.at("images/pagelist/edit.png")"/>
                            </a>
                            </td>

                            <td>
                            <img onclick="JS_DELETE('@routes.HomeController.remove(computer.id)')"
                                 title="Remove Computer : @computer.id"
                                 src="@routes.Assets.at("images/pagelist/remove.png")" style="cursor: hand; cursor: pointer;" />
                            </td>

                        </tr>
                    }

                    </tbody>
                </table>




               </form>




            <div id="pagination" class="pagination">
                <ul>
                    @if(currentPage.hasPrev) {
                        <li class="prev">
                            <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                        </li>
                    } else {
                        <li class="prev disabled">
                            <a>&larr; Previous</a>
                        </li>
                    }
                    <li class="current">
                        <a>Displaying @currentPage.getDisplayXtoYofZ(" to ", " of ")</a>
                    </li>
                    @if(currentPage.hasNext) {
                        <li class="next">
                            <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                        </li>
                    } else {
                        <li class="next disabled">
                            <a>Next &rarr;</a>
                        </li>
                    }
                </ul>
            </div>

        }
    </div>

    <script src="@routes.Assets.at("javascript/list.js")"></script>
    <script type="text/javascript">
        $(function() {
            // auto run
            list.init();
        });
    </script>

}

            